
.Container {
    padding: 0;
    margin: 0;
}

.Container li {
    list-style-type: none;
}


/* indent for all tree children excepts root */
.Node {
    background-image: url(img/i.gif);
    background-position: top left;
    background-repeat: repeat-y;
    margin-left: 18px;
    zoom: 1;
}

.IsRoot {
    margin-left: 0;
}


/* left vertical line (grid) for all nodes */
.IsLast {
    background-image: url(img/i_half.gif);
    background-repeat: no-repeat;
}

.ExpandOpen .Expand {
    background-image: url(img/expand_minus.gif);
}

/* closed is higher priority than open */
.ExpandClosed .Expand {
    background-image: url(img/expand_plus.gif);
}

/* highest priority */
.ExpandLeaf .Expand {
    background-image: url(img/expand_leaf.gif);
}

.Content {
    min-height: 18px;
    margin-left: 18px;
}

* html .Content {
    height: 18px;
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}


.ExpandLoading {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(img/expand_loading.gif);
}


.ExpandOpen .Container {
    display: block;
}

.ExpandClosed .Container {
    display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
    cursor: pointer;
}

.ExpandLeaf .Expand {
    cursor: auto;
}

input[type=checkbox]:after {
    visibility: hidden;
}

div#tree ul > li > ul:first-child {
    list-style-type: none;
}

.treeline, .treeline ul, .treeline li {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    list-style-type: none;
}

.treeline ul {
    margin: 0 0 0 15px; /* отступ вертикальной линии */
}

.treeline > li:not(:only-child), .treeline li li {
       position: relative;
       padding: 3px 0 0 20px; /* отступ текста */
}

/* Стиль вертикальной линии */
.treeline li:not(:last-child) {
    border-left: 1px solid #ccc;
}

/* Стили горизонтальной линии*/
.treeline li li:before, .treeline > li:not(:only-child):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1em;
    height: .7em;
    border-bottom: 1px solid #ccc;
}

/* Вертикальная линия последнего пункта в списка */
.treeline li:last-child:before {
    width: calc(1.1em - 1px);
    border-left: 1px solid #ccc;
}

.treeline .drop {
    position: absolute;
    left: -6px;
    top: 5px;
    width: 11px;
    height: 11px;
    line-height: 1em;
    text-align: center;
    background: #9F9F9F;
    color: #fff; /* Фон и цвет кнопки, раскрывающей список */
    font-size: 78%; /* Размер +/- */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.treeline li:last-child > .drop {
    margin-left: 1px;
}

.treeline .drop + ul {
    display: none;
}

.treeline .dropM + ul {
    display: block;
}

.treeline span {
    cursor: pointer;
}

ul.treeline > li > ul > li:last-child input, ul.treeline > li > ul > li > ul > li:last-child input {
    display: none;
}
