body{
    width: auto;
}

div.content{
    display: grid;
    position: absolute;
    width: auto;
border: black 7px double;
    background: mistyrose;
    font-family: Calibri,sans-serif;
    font-size: 18px;
    padding: 3%;
    left: 50%;
    top: 50%;
    margin-left: -345px;
    margin-top: -210px;
    box-sizing: border-box;
}
div.content ul{
    display: inline-flex;
    width: max-content;
    padding-left: 0;
}
div.content ul.menu_1>li, ul.menu_2>li, ul.menu_3>li{
    list-style: none;
    margin: 7px;
    padding: 5px;
    text-align: center;
    width: auto;
    max-width: 250px;
    height: 100%;
}
div.content ul.menu_1>li div{
    margin-top: 5px;
}
div.content ul>li a{
    color: black;
    text-decoration: none;
    position: static;
    padding-top: 25px;
}

div.content ul.menu_1>li:before{
    content: url("img/checked.png");
}
div.content ul.menu_1>li:hover:before{
    content: url("img/checked-hover.png");
}
div.content ul.menu_2,ul.menu_3{
    list-style-type: none;
    text-align: center;
}

div.content ul.menu_2>li:before{
    content:"";
    /* added */
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid black;
    border-left: 15px solid black;
    border-bottom: 10px solid transparent;
margin-left: -10px;
}
div.content ul.menu_2>li:hover:before{
    content:"";
    /* added */
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid orangered;
    border-left: 15px solid orangered;
    border-bottom: 10px solid transparent;
}
div.content ul.menu_2>li a div.text{
    margin-top: 20px;
}
div.content ul.menu_3>li:before{
    content: '★';
    color: blue;
    font-size: 20px;
}
div.content ul.menu_3>li:hover:before{
    content: '★';
    font-size: 20px;
    color: black;
}
div.text{
    width: 100%;
    padding: 5px;
}