
button.send {
    margin-top: 50px;
}

i.del {
    color: darkgreen;
    font-size: medium;
    font-weight: bold;
}

i.del:hover {
    cursor: pointer;
}

/*tic-tac-toe*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none
}

.title {
    display: block;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
    text-align: center
}

.tic-tac-toe-block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 152px;
    margin: 0 auto 50px;
    border: 1px solid #000
}

.game-event {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 48px;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s
}

.game-event:hover {
    background-color: #ccc
}

.game-event.o {
    background-color: #abfdab
}

.game-event.x {
    background-color: #f99
}

#reset-game {
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s
}

#reset:hover {
    background-color: #ccc
}
